<div class="container mt-2">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let product of productView; let index = index">
            <div class="card">
                <div class="card-body">
                    <img style="width: 100%; height: 100%;" [src]="images[index]">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ product.description }}</li>
                        <li class="list-group-item">{{ product.department }}</li>
                        <li class="list-group-item">$ {{ product.price | number : '1.2-2'}}</li>
                      </ul>
                </div>
                <div class="card-body">
                    <a class="btn btn-dark" [routerLink]="['/edit', product.id]">Edit</a> | 
                    <button type="button" class="btn btn-primary" (click)="openDeactivateModal(product?.id)">Deactivate</button>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deactivate confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to deactivate this product?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="confirmDeactivation()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="productView.length == 0">
    <div class="text-center">
      <h2>No results found</h2>
    </div>
  </ng-container>