<div class="container">
    <legend>Update Product</legend>
  
    <div class="mb-3">
      <label for="txtName" class="form-label">Name</label>
      <input type="text" [(ngModel)]="productForm.name" class="form-control" id="txtName" placeholder="Name">
    </div>
  
    <div class="mb-3">
      <label for="txtDescription" class="form-label">Description</label>
      <textarea type="text" [(ngModel)]="productForm.description"  class="form-control" id="txtDescription" placeholder="Description"></textarea>
    </div>
  
    <select [(ngModel)]="productForm.department" class="form-select" aria-label="Department options">
      <option selected>Select a Department</option>
      <option value="1">Eletronics</option>
      <option value="2">Computers</option>
      <option value="3">SmartHome</option>
      <option value="4">ArtsCrafts</option>
      <option value="5">BeautyPersonalCare</option>
      <option value="6">Fashion</option>
      <option value="7">Health</option>
      <option value="8">MoviesAndTelevision</option>
      <option value="9">Software</option>
      <option value="10">Sports</option>
      <option value="11">ToysAndGames</option>
      <option value="12">VideoGames</option>
      <option value="13">FoodsAndDrinks</option>
    </select>
  
    <div class="mb-3">
      <label for="txtAmount" class="form-label">Amount</label>
      <input type="number" [(ngModel)]="productForm.amount"  class="form-control" id="txtAmount">
    </div>
  
    <div class="input-group mb-3">
      <span class="input-group-text">Price</span>
      <input type="number" [(ngModel)]="productForm.price"  class="form-control" aria-label="Price" placeholder=".00">
    </div>

    <div>
      <label for="txtFile" class="form-label">Product Images</label><br/>
      <!-- <input type="file" (change)="onChange($event)"/> -->
  
      <div class="mt-4" *ngIf="productForm.productImages.length > 0">
        <img class="mr-2" style="width: 150px; height: 150px; white-space: nowrap;" *ngFor="let image of productForm.productImages; let index = index" [src]="productForm.productImages[index].image">
      </div>

      <!-- <div class="mt-4" *ngIf="selectedImages.length > 0">
        <img class="mr-4" style="width: 150px; height: 150px; white-space: nowrap;" *ngFor="let image of selectedImages; let index = index" [src]="selectedImages[index]">
      </div> -->
      <br/>
    </div>
  
    <button type="button" class="btn btn-dark" (click)="update()">Update Product</button>
  
  </div>